{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers Login </title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="auth-container">
        <div class="auth-box">
            <h4>MATUMAINI SCHOOL</h4>
            <h4 class="text-info">TEACHERS LOGIN</h4>

            <!-- Teachers Login Form -->
            <form id="AuthForm" action="{% url 'teacher_auth' %}" method="POST">
                {% csrf_token %}
                {% if messages %}
                    <div id="authErrorMessages" class="error-messages">
                        {% for message in messages %}
                            <p class="text-danger">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="input-group">
                    <label>Teacher Number</label>
                    <input type="text" name="teacher_number" placeholder="Enter your Teacher Number" required>
                </div>
                <div class="input-group">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Enter your Email" required>
                </div>
                <button type="submit" class="btn">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>
