{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Enrollment</title>
    <!-- Fontawesom Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa fa-pie-chart"></i>
                        </span>
                        <span class="title brand"> Matumaini School</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'dashboard' %}">
                        <span class="icon">
                            <i class="fa-solid fa-gauge"></i>
                        </span>
                        <span class="title">Admin Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'steachers' %}">
                        <span class="icon">
                            <i class="fa-solid fa-person"></i>
                        </span>
                        <span class="title">Add Teacher</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'sstudents' %}">
                        <span class="icon">
                            <i class="fa-solid fa-child"></i>
                        </span>
                        <span class="title">Add Students</span>
                    </a>
                </li>

               
                <li>
                    <a href="{% url 'sattendance' %}">
                        <span class="icon">
                            <i class="fa-solid fa-clipboard-user"></i>
                        </span>
                        <span class="title">Attendance</span>
                    </a>
                </li>

                

                <li>
                    <a href="{% url 'sresult' %}">
                        <span class="icon">
                            <i class="fa-solid fa-square-poll-vertical"></i>
                        </span>
                        <span class="title">Results</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'sadminFee' %}">
                        <span class="icon">
                            <i class="fa-solid fa-sack-dollar"></i>
                        </span>
                        <span class="title">Fees</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'logoutz' %}">
                        <span class="icon">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main" id="enroll">
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-list"></i>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="{% static 'images/dp.jpg' %}" alt="Bus Image">
                </div>
            </div>

            <!-- Course Enrollments -->
            <div class="courseenroll">
                <div class="enrollHeader">
                    <h2>Enroll Students</h2>
                </div>
                <section class="enroll">
                    <form class="form" id="studentEnroll" action="{% url 'sstudents' %}" method="POST">
                        <div class="input-box">
                            <label>Full Name</label>
                            <input type="text" id="names" name="names" placeholder="Enter full name" required />
                        </div>

                        <div class="column">
                            <div class="input-box">
                                <label>Parents Name</label>
                                <input type="text"  name="parents" id="parents" placeholder="Enter Parents" required />
                            </div>
                            <div class="input-box">
                                <label>Students Reg No.</label>
                                <input type="number" id="reg_number" name="reg_number" placeholder="Enter Students Reg No." required />
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label>Parents Phone Number</label>
                                <input type="number" id="phonenumber" name="phonenumber" placeholder="Enter Parents phone number" required />
                            </div>
                            <div class="input-box">
                                <label>Date Of BIrth</label>
                                <input type="date" id="date" name="date" placeholder="Enter  Students birth date" required />
                            </div>
                        </div>
                        <div class="input-box subject">
                            <label>Class</label>
                            <div class="column">
                                <div class="select-box">
                                    <select id= " class" name="class">
                                        <option hidden>Class</option>
                                        <option>Form 1 Red</option>
                                        <option>Form 1 Yellow</option>
                                        <option>Form 1 Blue</option>
                                        <option>Form 2 Red</option>
                                        <option>Form 2 Yellow</option>
                                        <option>Form 2 Blue</option>
                                        <option>Form 3 Red</option>
                                        <option>Form 3 Yellow</option>
                                        <option>Form 3 Blue</option>
                                        <option>Form 4 Red</option>
                                        <option>Form 4 Yellow</option>
                                        <option>Form 4 Blue</option>
                                    </select>
                                </div>
                                <div class="select-box" id= " category" name="category">
                                    <select id= " category" name="category">
                                        <option hidden>Category</option>
                                    <option> Ordinary </option>                                        
                                    <option> Special Gifts </option>                                        
                                    <option> Impaired </option>                                        
                                                                               
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button>Enroll</button>
                    </form>
                </section>   
            </div>
           
        </div>
    </div>

    <!-- Scripts -->
    <script src="assets/js/main.js"></script>
</body>

</html>